@charset "utf-8";
body{
    font-family: 'SUITE', sans-serif;
    width: 100%;
}
#wrap{overflow: hidden;}
.inner{
    width: 1200px;
    margin: 0 auto;
}
#header{
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #1d1d1d;
    z-index: 100;
}
.header{display: flex;}

/* nav start */
.logo{
    padding-left: 30px;
    padding-top: 15px;
}
.nav>ul{
    display: flex;
    width: 954px;
    justify-content: center;
    position: relative;
    text-align: center;
}
.nav>ul>li>a{
    display: inline-block;
    padding: 20px;
    padding-right: 60px;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    line-height: 2.7;
}
.nav>ul>li>a:hover{color: #3d3d3d;}
.nav>ul>li>a.active{color: #ec2c1d;}

.nav>ul>li>ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 78px; left: 115px;
    display: none;
}
.nav>ul>li>ul.active{display: block;}
.nav>ul>li>ul>li{display: inline-block;}
.nav>ul>li>ul>li>a{
    width: 100%;
    display: inline-block;
    padding: 40px;
}

.nav>ul>li>ul>li>a.active{
    color: #ec2c1d;
    font-weight: 800;
    display: block;
}
.sub.on{display: block;}

.nav>ul>li>ul>li>a:hover{ font-weight: 700;}
.header::after{
    content: '';
    display: block;
    width: 100%;
    height: 54px;
    background-color: #fff;
    position: absolute;top: 100px;left: 0;
    z-index: -1;
}

/* 햄버거 메뉴 */
input[id="menuicon"]{display: none;}
input[id="menuicon"] + label {
    display: block; width: 28px;height: 18px;
    position: relative; cursor: pointer;
    margin-top: 18px;
    margin-right: 10px;
    display: none;
}
input[id="menuicon"] + label span{
    display: block;position: absolute;
    width: 100%;height: 2px;
    border-radius: 30px;
    background: #d1d1d1;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1){top: 0;}
input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){bottom: 0;}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){opacity: 0;}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
/* m_nav */
div[class="m_nav"]>ul{
    display: block;
    width: 300px;
    height: 100vh;
    position: fixed; top: 57px;right: -300px;
    background: #000000ea;
    z-index: 1;
    transition: all .35s;
}
div[class="m_nav"]>ul>li>a{
    display: block;
    padding-left: 40px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    line-height: 4.5;
}
div[class="m_nav"]>ul>li>ul{ padding-left: 60px;}
div[class="m_nav"]>ul>li>ul>li>a{ 
    display: block; padding: 8px;
    font-size: 14px; color: #fff;
}
div[class="m_nav"]>ul>li>ul>li>a:hover{text-decoration: underline;}

input[id="menuicon"]:checked + label + div>ul{right: 0px;}
/* sub end */

#main{background-color: #f0f0f0;}
.box{
    width: 1200px; height: 996px;
    display: flex;
    justify-content: space-between;
    margin-top: 154px;
    padding-top: 50px;
}
#photo{
    width: 100%;
    height: 800px;
    position: relative;
    padding-top: 20px;
}
#photo::before{
    content: url(../images/Sign.png);
    position: absolute;
    bottom: -30px;
    left: 300px;
    width: 296px;height: 169px;
    z-index: 50;
}
#photo>ul{ width: 534px; position: relative;}
#photo>ul>li{position: absolute;top: 0;left: 0;}
#photo>ul>li>img{
    display: block;
    width: 100%;
}
/* profile start */
#txt{
    margin: 0 auto;
    margin-bottom: 49px;
}
#txt>p{text-align: center;}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
#icon{
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
}
#filmo{height: auto;}

/* 아코디언으로 입력 */
input[id*="answer"]{display: none;}
input[id*="answer"] + label{
    display: block;padding: 15px;
    padding-left: 24px;
    width: 490px;
    margin: 0 auto;
    border-bottom: 2px solid #777777;
    font-size: 24px;
    font-weight: 600;
    background: #d2d2d2;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}
input[id*="answer"] + label em{
    position: absolute;
    top: 50%;right: 10px;
    width: 30px;height: 30px;margin-top: -15px;
    display: inline-block;
    background: url(../images/arr.png) 0 0 no-repeat;
}
input[id*="answer"] + label + div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    width: 445px;
    margin: 0 auto;
}
input[id*="answer"] + label + div ul li{padding-bottom: 22px;}
input[id*="answer"] + label + div ul li:first-child{padding-top: 22px;}
input[id*="answer"] + label + div ul li span{
    padding-right: 60px;
    width: 50px;
    display: inline-block;
}
input[id*="answer"]:checked + label + div{max-height: 516px;}
input[id*="answer"]:checked + label em{background-position: 0 -30px;}

/* footer start */
#footer{
    height: auto;
    background-color: #1d1d1d;
}
.footer{
    color: #868686;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer>img{margin: 10px 45px 10px 45px;}
.line{padding-left: 200px;}
.line>ul{
    display: flex;
    padding-bottom: 18px;
}
.line>p{padding-top: 18px;}
.line>ul>li>a{
    padding-right: 5px;
    padding-left: 5px;
}
.line>ul>li>a:first-child{padding-left: 0;}
.line>ul>li::after{content: '|';}
.line>ul>li:last-child::after{content: '';}

@media screen and (max-width: 1200px) {
    #wrap{width: 100%;}
    .inner{width: 100%; overflow: hidden; margin: 0 auto;}
    .header{width: 100%;}
    .header::after{display: none;}
    .logo{margin: 0 auto; padding-top: 3px; padding-left: 131px;}
    .logo>img{width: 72%;}
    #header{height: 57px;}
    .nav{display: none;}
    input[id="menuicon"] + label{display: block;}

    #main{width: 100%; margin: 0 auto; }
    .box{margin: 0 auto; width: 95%; margin-top: 35px; height: auto;}
    #photo{width: 100%; }
    #txt{margin-bottom: 25px;}

    input[id*="answer"] + label{width: 400px;}
    input[id*="answer"] + label + div{width: 400px;}
    .footer>img{display: none;}
    .footer>.line{padding-left: 10px; margin: 0 auto;}
}

@media screen and (max-width: 976px) {
    .box{width: 100%;  display: block;}
    #photo>ul{margin: 0 auto; height: auto;}
    #photo{margin-bottom: 50px;}
}
@media screen and (max-width: 786px){
    #photo>ul>li>img{size: 90%;}

    input[id*="answer"] + label{font-size: 17px; width: 350px;}
    input[id*="answer"] + label + div{font-size: 15px; width: 360px;}
    input[id*="answer"] + label + div ul li:first-child{
        padding-top: 15px;}
    input[id*="answer"] + label + div ul li{
        padding-bottom: 15px;}
    input[id*="answer"] + label + div ul li span{
        padding-right: 30px; 
        width: 50px;
    }
    .footer{font-size: 15px; padding-top: 30px; padding-bottom: 30px;}
}
@media screen and (max-width:550px){
    #photo>ul{width: 100%;}
    #photo::before{display: none;}
    .line{font-size: 12px; }
}
@media screen and (max-width:500px){
    #profile{margin-top: -60px;}
}
@media screen and (max-width:390px){
    input[id*="answer"] + label {width: 315px;}
    input[id*="answer"] + label + div {width: 340px;}
    input[id*="answer"] + label + div ul li span {padding-right: 14px;}
}
@media screen and (max-height:844px) {
    div[class="m_nav"]>ul>li>a{
        font-size: 18px;
        line-height: 2.5;
    }
    div[class="m_nav"]>ul>li>a:first-child{padding-top: 10px;}
    div[class="m_nav"]>ul>li>ul>li>a{padding: 5px;}
}
/* @media screen and (max-height:932px) {
    #profile{margin-top: -160px;}
}
@media screen and (max-height:740px) {
    #profile{margin-top: -220px;}
} */